<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="true" backupStaticAttributes="false" bootstrap=".Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php" colors="true" convertErrorsToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="false" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" verbose="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./actions</directory>
      <directory suffix=".php">./controllers</directory>
      <directory suffix=".php">./exceptions</directory>
      <directory suffix=".php">./hooks</directory>
      <directory suffix=".php">./models</directory>
      <directory suffix=".php">./search</directory>
      <directory suffix=".php">./util</directory>
      <directory suffix=".php">./Classes</directory>
      <directory suffix=".php">./marker</directory>
      <directory suffix=".php">./view</directory>
      <directory suffix=".php">./interface</directory>
      <directory suffix=".php">./indexer</directory>
    </include>
  </coverage>
  <php>
    <env name="TYPO3_PATH_APP" value=".Build" />
    <env name="TYPO3_PATH_WEB" value=".Build/Web"/>
  </php>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
