<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true" backupStaticAttributes="true"
	convertErrorsToExceptions="true" convertNoticesToExceptions="true"
	convertWarningsToExceptions="true" processIsolation="false"
	stopOnFailure="false" syntaxCheck="true"
	testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

<testsuites>
  <testsuite name="MKSearchTestSuite">
    <directory suffix="testcase.php">./</directory>
  </testsuite>
</testsuites>
</phpunit>