<html>

<body>

###CONFIGINDIZES###
<p style="display: ###SHOWERROR###">
	Please set <em>indexerConfigStoragePid</em> to a non-zero value in the mksearch extension configuration!
</p>

<iframe name="mksearchIframe"
		onLoad="d=frames[this.name].document;
				h=d.getElementById('typo3-docheader').offsetHeight+d.getElementById('typo3-inner-docbody').offsetHeight;
				this.style.height=h+'px';"
		style="width: 100%; height:500px; border: 0px;"
		scrolling="no" frameborder="0" marginheight="0" marginwidth="0" src="###PATH###">
	<p>
		Your browser does not support IFrames. Please visit this <a href="###PATH###">link</a> to manually navigate to
		the IFrame's target.
	</p>
</iframe>
###CONFIGINDIZES###

</body>
</html>