<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>

		<!-- ###INDIZEINDIZES### -->
	<!-- Dieser Teil wird in allen Sub-Modulen integriert -->
	<!-- ###COMMON_START### START -->
	<!-- ###COMMON_START### END -->
	
	<!-- ###COMMON_END### START -->
	<div class="mkcommon">
		<h2 class="bgColor2 t3-row-header">###LABEL_COMMON_END###</h2>
		<div class="tables graybox">
		
###ALLOW_URL_FOPEN_DEACTIVATED_HINT###
<div class="cleardiv"></div>

<pre style="float:left;width:45%;">Mod
Parsetime  ###MOD_PARSETIME###s
Mem used   ###MOD_MEMUSED### Bytes
Mem start  ###MOD_MEMSTART### Bytes
Mem end    ###MOD_MEMEND### Bytes</pre>
<!-- ###ROOTPAGE### START -->
<pre style="float:right;width:45%;">Root page
id     ###ROOTPAGE_UID###
title  ###ROOTPAGE_TITLE###
path   ###ROOTPAGE__THEPATHFULL###</pre>
<!-- ###ROOTPAGE### START -->
		<div class="cleardiv"></div>
		</div>
	</div>
	<!-- ###COMMON_END### END -->
		
		<style type="text/css">
			.tables table.typo3-dblist {
				width: auto !important;
				width: 0;	
			}
		</style>

		<div class="status">
			<h2 class="bgColor2 t3-row-header ">###LABEL_CORE_STATUS_HEAD###</h2>
			<div class="graybox">
				###CORE_STATUS###
			</div>
		</div>
		
		<div class="status" style="display:###ISSTATUS###">
			<h2 class="bgColor2 t3-row-header ">###LABEL_QUEUE_STATE_HEAD###</h2>
			<div class="graybox">
				###STATUS###
			</div>
		</div>
		
		<h2 class="bgColor2 t3-row-header ">###LABEL_CONFIGURED_INDEXER_TABLES_HEAD###</h2>
		<div class="tables graybox">
			###TABLES_TABLE###
			<div class="count">###TABLES_COUNT### ###LABEL_TABLE_COUNT###</div>
			<h3 class="t3-row-header ">###LABEL_RESET_OPTIONS###</h3>
			<table class="ivtab">
				<tr>
					<td><input type="checkbox" name="resetDeleted" id="resetDeleted" checked="checked" /></td>
					<td><label for="resetDeleted">###LABEL_RESET_DELETED###</label></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="resetHidden" id="resetHidden" checked="checked" /></td>
					<td><label for="resetHidden">###LABEL_RESET_HIDDEN###</label></td>
				</tr>
			</table>
		</div>
		
		<h2 class="bgColor2 t3-row-header ">###LABEL_TRIGER_QUEUE_HEAD### (###LABEL_QUEUE_SIZE### ###QUEUESIZE###)</h2>
		<div class="tables graybox">
			<table class="ivtab">
				<tr>
					<td><input type="checkbox" name="triggerIndexingQueue" value="1" id="triggerIndexingQueue" /></td>
					<td><label for="triggerIndexingQueue">###LABEL_TRIGER_QUEUE_INPUT###</label></td>
					<td><input type="text" name="triggerIndexingQueueCount" value="###INDEXITEMS###" id="triggerIndexingQueueCount" /></td>
					<td><label for="triggerIndexingQueueCount">###LABEL_TRIGER_QUEUE_ITEMS###</label></td>
				</tr>
			</table>
		</div>
		
		<div class="btnBlock">
			<input type="submit" name="updateIndex"/>
		</div>
		<!-- ###INDIZEINDIZES### -->

	</body>
</html>