<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Product list template - you should NEVER see this!</title>
</head>
<body>

###SEARCH###

###SEARCH_FORM###

    Diese Möglichkeiten bestehen für Sortierunslinks. Dazu benötigt man die Beispiel Konfig aus
    dem static TS.

    ###SORT_UID_ORDER### = asc
    ###SORT_UID_LINKURL### = index.php?mksearch[sort]=uid&mksearch[sortorder]=asc
    ###SORT_UID_LINK### = wrappedArray mit dem A-Tag
    ###SORT_TITLE_ORDER### = asc
    ###SORT_TITLE_LINKURL### = index.php?mksearch[sort]=title&mksearch[sortorder]=asc
    ###SORT_TITLE_LINK### = wrappedArray mit dem A-Tag

###SEARCHRESULTS###
    <!-- ###SEARCHRESULTEMPTYLIST### START -->
            ###LABEL_SEARCH_NORESULTSFOUND###
    <!-- ###SEARCHRESULTEMPTYLIST### END -->

    <ol>
    ###SEARCHRESULT###
        <li id="searchresult-###SEARCHRESULT_TOTALLINE###">
        <h2 class="searchResultTitle">###SEARCHRESULT_TITLE###</h2>
        ###SEARCHRESULT_ABSTRACT###
        ###SEARCHRESULT_EXTRAINFO###
        </li>
    ###SEARCHRESULT###
    </ol>
###LABEL_search_foundresults### ###SEARCHRESULTCOUNT###
<div>###PLUGIN_DCSEARCHTERM###</div>


<!-- ###PAGEBROWSER### START -->
<!--
<div class="pagebrowser">
###PAGEBROWSER_CURRENT_PAGE###
###PAGEBROWSER_CURRENT_PAGE_NUMBER###
###PAGEBROWSER_CURRENT_PAGE###

###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_NORMAL_PAGE_LINK### ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###

###PAGEBROWSER_PREV_PAGE###
&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;
###PAGEBROWSER_PREV_PAGE###

###PAGEBROWSER_NEXT_PAGE###
&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;
###PAGEBROWSER_NEXT_PAGE###

###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK###
###PAGEBROWSER_FIRST_PAGE###

###PAGEBROWSER_LAST_PAGE###
###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK###
###PAGEBROWSER_LAST_PAGE###

</div>
-->
<!-- ###PAGEBROWSER### END -->
###SEARCHRESULTS###

###SEARCH###



<!-- ----------------------- -->
<!-- das Lucene Suchformular -->
<!-- ----------------------- -->
###LUCENEFORM###

<form action="###FORM_ACTION###" method="get" id="sitesearch">
    ###FORM_HIDDENFIELDS###
<fieldset class="term">
    <div>
        <label for="mksearch[term]">###LABEL_search_searchterm###</label>
        <input class="text" type="text" name="mksearch[term]" id="mksearch[term]" value="###FORM_SEARCHTERM###"/>
    </div>
</fieldset>
<fieldset>
    <legend>###LABEL_search_options###</legend>

    <fieldset>
        <legend>###LABEL_search_options_standard###</legend>
        <div>
            <input class="radio" type="radio" name="mksearch[options][mode]" id="mksearch[options][mode][standard]" value="standard" ###FORM_MODE_STANDARD_SELECTED### />
            <label for="mksearch[options][mode][standard]">###LABEL_search_options_standard_label###</label>
        </div>
        <div>###LABEL_search_options_standard_hint###</div>

        <fieldset>
            <legend>###LABEL_search_options_standard_combination###</legend>
            <div>
                <input class="radio" type="radio" name="mksearch[options][combination]" id="mksearch[options][combination][or]" value="or" ###FORM_COMBINATION_OR_SELECTED### />
                <label for="mksearch[options][combination][or]">###LABEL_search_options_standard_combination_or###</label>
            </div>
            <div>
                <input class="radio" type="radio" name="mksearch[options][combination]" id="mksearch[options][combination][and]" value="and" ###FORM_COMBINATION_AND_SELECTED### />
                <label for="mksearch[options][combination][and]">###LABEL_search_options_standard_combination_and###</label>
            </div>
            <div>
                <input class="radio" type="radio" name="mksearch[options][combination]" id="mksearch[options][combination][exact]" value="exact" ###FORM_COMBINATION_EXACT_SELECTED### />
                <label for="mksearch[options][combination][exact]">###LABEL_search_options_standard_combination_exact###</label>
            </div>
        </fieldset>

        <fieldset>
            <legend>###LABEL_search_options_standard_others###</legend>
            <div>
                <input class="checkbox" type="checkbox" name="mksearch[options][others][fuzzy]" id="mksearch[options][others][fuzzy]" disabled="disabled" />
                <label for="mksearch[options][others][fuzzy]">###LABEL_search_options_standard_others_fuzzy_lucene###</label>
            </div>

        </fieldset>
    </fieldset>

    <fieldset>
        <legend>###LABEL_search_options_advanced###</legend>
        <div>
            <input class="radio" type="radio" name="mksearch[options][mode]" id="mksearch[options][mode][advanced]" value="advanced" ###FORM_MODE_ADVANCED_SELECTED### />
            <label for="mksearch[options][mode][advanced]">###LABEL_search_options_advanced_label###</label>
        </div>
    </fieldset>
</fieldset>
<fieldset>
    <input class="submit" type="submit" name="mksearch[submit]" value="###LABEL_search_submit###" />
</fieldset>
</form>


###LUCENEFORM###

</body>
</html>
