<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Product list template - you should NEVER see this!</title>
</head>
<body>

###ITEM###
<h2 class="searchResultTitle">FAQ</h2>
<div><b>###ITEM_Q_S###</b></div>
<div>###ITEM_A_WITH_HTML_S###</div>
<div class="searchResultLink">###ITEM_SHOWFIRSTCATEGORYLINK######LABEL_SEARCH_READMOREFAQS######ITEM_SHOWFIRSTCATEGORYLINK###</div>
<br/>
###ITEM###

<!--
This is a very simple default template for displaying a search result.
No additional data is displayed - just the link to the actual found page.

You may extend this template to display additional info by cloning it into your own extension
and configuring the mksearch plugin typoscript (plugin.tx_mksearch.setup.[your.content_type])
to your customized marker class and / or html template.

Remember to insert a link to the search result like above which is rendered through
\Sys25\RnBase\Frontend\Marker\BaseMarker::initLink().
Also don't forget to set the link pid via plugin.tx_mksearch.search.render.[your.content_type].links.show

You are encouraged to comply with the above standard link text in order to enable a smooth, homogeneous look
of the search result list. Please diverge from that standard only if you have good reasons to do so :-)
-->

</body>
</html>
