<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Search template - you should NEVER see this!</title>
</head>
<body>

<!-- ###SEARCH### START -->

    ###SEARCH_FORM###

    <!-- ###FACETS### START -->
        <ul>
            <!-- ###FACET### START -->
            <li>
                Feld: ###FACET_FIELD###<br/>
                Label: ###FACET_LABEL###<br/>
                Count: ###FACET_COUNT###<br/>
            </li>
            <!-- ###FACET### END -->
            <li>
            <!-- ###FACET_RESETLINK### -->Reset<!-- ###FACET_RESETLINK### -->
            </li>
        </ul>
    <!-- ###FACETS### END -->

    <!-- ###SEARCHRESULTS### START -->

        <!-- ###SEARCHRESULTEMPTYLIST### START -->
                ###LABEL_SEARCH_NORESULTSFOUND###
        <!-- ###SEARCHRESULTEMPTYLIST### END -->

        <ol>
            <!-- ###CHARBROWSER### begin-->
                <li>
                    <!-- ###PB_ITEM_LINK###
                        -->###PB_ITEM### (###PB_ITEM_SIZE###)<!--
                    ###PB_ITEM_LINK### -->
                </li>
            <!-- ###CHARBROWSER### end-->
        </ol>

        <ol>
            <!-- ###SEARCHRESULT### START -->
                <li id="searchresult-###SEARCHRESULT_TOTALLINE###">
                    <!-- ###SEARCHRESULT_SIMPLE_VISIBLE### START -->
                        <h2 class="searchResultTitle">###SEARCHRESULT_TITLE###</h2>
                        ###SEARCHRESULT_ABSTRACT###
                    <!-- ###SEARCHRESULT_SIMPLE_VISIBLE### END -->
                    ###SEARCHRESULT_EXTRAINFO###
                </li>
            <!-- ###SEARCHRESULT### END -->
        </ol>

        <div>###LABEL_search_foundresults### ###SEARCHRESULTCOUNT###</div>
        <div>###PLUGIN_DCSEARCHTERM###</div>

        <!-- ###PAGEBROWSER### START -->
            <div class="pagebrowser">
                <!-- ###PAGEBROWSER_CURRENT_PAGE### -->
                    ###PAGEBROWSER_CURRENT_PAGE_NUMBER###
                <!-- ###PAGEBROWSER_CURRENT_PAGE### -->

                <!-- ###PAGEBROWSER_NORMAL_PAGE### -->
                    <!-- ###PAGEBROWSER_NORMAL_PAGE_LINK###
                        -->###PAGEBROWSER_NORMAL_PAGE_NUMBER###<!--
                    ###PAGEBROWSER_NORMAL_PAGE_LINK### -->
                <!-- ###PAGEBROWSER_NORMAL_PAGE### -->

                <!-- ###PAGEBROWSER_PREV_PAGE### -->
                    &nbsp;<!-- ###PAGEBROWSER_PREV_PAGE_LINK###
                        -->&lt;<!--
                    ###PAGEBROWSER_PREV_PAGE_LINK### -->&nbsp;
                <!-- ###PAGEBROWSER_PREV_PAGE### -->

                <!-- ###PAGEBROWSER_NEXT_PAGE### -->
                    &nbsp;<!-- ###PAGEBROWSER_NEXT_PAGE_LINK###
                        -->&gt;<!--
                    ###PAGEBROWSER_NEXT_PAGE_LINK### -->&nbsp;
                <!-- ###PAGEBROWSER_NEXT_PAGE### -->

                <!-- ###PAGEBROWSER_FIRST_PAGE### -->
                    <!-- ###PAGEBROWSER_FIRST_PAGE_LINK###
                        --> |&lt; <!--
                    ###PAGEBROWSER_FIRST_PAGE_LINK###-->
                <!-- ###PAGEBROWSER_FIRST_PAGE### -->

                <!-- ###PAGEBROWSER_LAST_PAGE### -->
                    <!-- ###PAGEBROWSER_LAST_PAGE_LINK###
                        --> &gt;| <!--
                    ###PAGEBROWSER_LAST_PAGE_LINK###-->
                <!-- ###PAGEBROWSER_LAST_PAGE### -->
            </div>
        <!-- ###PAGEBROWSER### END -->

    <!-- ###SEARCHRESULTS### END -->

<!-- ###SEARCH### END -->


</body>
</html>
