<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Product list template - you should NEVER see this!</title>
</head>
<body>


<!-- ###HEAD### START -->
<form id="sitesearch-head" name="sitesearch-head" action="###FORM_ACTION###" method="post">
	<input id="search" type="text" class="text" />
	<input type="hidden" value="###LABEL_search_submit###" class="text" name="mksearch[submit]" title="Suchen" />
	<input type="submit" value="###LABEL_search_submit###" class="button" id="searchsubmit" name="mksearch[submit]" title="Suchen" />
</form>
<!-- ###HEAD### END -->


<!-- ###SIMPLE### START -->
<form action="###FORM_ACTION###" method="post" id="sitesearch">
	<fieldset class="term">
		<div>
			<label for="mksearch[term]">###LABEL_search_searchterm###</label>
			<input class="text" type="text" name="mksearch[term]"  id="mksearch_term" value="###FORM_SEARCHTERM###"/>
		</div>
	</fieldset>
	<fieldset>
		<input type="hidden" value="###LABEL_search_submit###" class="text" name="mksearch[submit]" title="Suchen" />
		<input class="submit" type="submit" name="mksearch[submit]" value="###LABEL_search_submit###" />
	</fieldset>
</form>
<!-- ###SIMPLE### END -->





<!-- ###FORM### START -->
<form action="###FORM_ACTION###" method="post" id="sitesearch">
	<fieldset class="term">
		<label for="mksearch[term]">###LABEL_search_searchterm###</label>
		<input class="text" type="text" name="mksearch[term]" id="mksearch[term]" value="###FORM_SEARCHTERM###"/>
	</fieldset>
	
	<fieldset>
		<legend>###LABEL_search_options###</legend>
			<div>###LABEL_search_options_standard_hint###</div>
			<fieldset>
				<legend>###LABEL_search_options_standard_combination###</legend>
				<div>
					<input class="radio" type="radio" name="mksearch[combination]" id="mksearch[combination][none]" value="none" ###FORM_COMBINATION_NONE### />
					<label for="mksearch[combination][none]">###LABEL_search_options_standard_combination_none###</label> 
				</div>
				<div>
					<input class="radio" type="radio" name="mksearch[combination]" id="mksearch[combination][free]" value="free" ###FORM_COMBINATION_FREE### />
					<label for="mksearch[combination][free]">###LABEL_search_options_standard_combination_free###</label> 
				</div>
				<div>
					<input class="radio" type="radio" name="mksearch[combination]" id="mksearch[combination][or]" value="or" ###FORM_COMBINATION_OR###/>
					<label for="mksearch[combination][or]">###LABEL_search_options_standard_combination_or###</label> 
				</div>		
				<div>
					<input class="radio" type="radio" name="mksearch[combination]" id="mksearch[combination][and]" value="and"  ###FORM_COMBINATION_AND###/>
					<label for="mksearch[combination][and]">###LABEL_search_options_standard_combination_and###</label> 
				</div>
				<div>
					<input class="radio" type="radio" name="mksearch[combination]" id="mksearch[combination][exact]" value="exact"  ###FORM_COMBINATION_EXACT###/>
					<label for="mksearch[combination][exact]">###LABEL_search_options_standard_combination_exact###</label> 
				</div>
			</fieldset>
			<fieldset>
				<legend>###LABEL_search_options_standard_others###</legend>
				<div>
					<input class="checkbox" type="checkbox" name="mksearch[options][fuzzy]" id="mksearch[options][fuzzy]" ###FORM_OPTION_FUZZY###/>
					<label for="mksearch[options][fuzzy]">###LABEL_search_options_standard_others_fuzzy###</label> 
				</div>
			</fieldset>
	</fieldset>
	
	<fieldset>
		<input type="hidden" value="###LABEL_search_submit###" class="text" name="mksearch[submit]" title="Suchen" />
		<input class="submit" type="submit" name="mksearch[submit]" value="###LABEL_search_submit###" />
	</fieldset>
</form>
<!-- ###FORM### END -->



<!-- das alte luceen formular, muss noch umgestellt werden, damit es mit dem neuen formular funktioniert -->
<!-- ###OLDFORM### START -->

<form action="###FORM_ACTION###" method="post" id="sitesearch">

<!--<p>###LABEL_your_location###</p>-->
<fieldset class="term">
    <div>
		<label for="mksearch[term]">###LABEL_search_searchterm###</label> <input class="text" type="text" name="mksearch[term]" id="mksearch[term]" value="###FORM_SEARCHTERM###"/>
	</div>
</fieldset>
<fieldset>
	<legend>###LABEL_search_options###</legend>
	
	<fieldset>
		<legend>###LABEL_search_options_standard###</legend>
		<div>
			<input class="radio" type="radio" name="mksearch[options][mode]" id="mksearch[options][mode][standard]" value="standard" checked="checked" />
			<label for="mksearch[options][mode][standard]">###LABEL_search_options_standard_label###</label>
		</div>
		<div>###LABEL_search_options_standard_hint###</div>
		
		<fieldset>
			<legend>###LABEL_search_options_standard_combination###</legend>
			<div>
				<input class="radio" type="radio" name="mksearch[options][combination]" id="mksearch[options][combination][or]" value="or" checked="checked" />
				<label for="mksearch[options][combination][or]">###LABEL_search_options_standard_combination_or###</label> 
			</div>		
			<div>
				<input class="radio" type="radio" name="mksearch[options][combination]" id="mksearch[options][combination][and]" value="and" />
				<label for="mksearch[options][combination][and]">###LABEL_search_options_standard_combination_and###</label> 
			</div>
			<div>
				<input class="radio" type="radio" name="mksearch[options][combination]" id="mksearch[options][combination][exact]" value="exact" />
				<label for="mksearch[options][combination][exact]">###LABEL_search_options_standard_combination_exact###</label> 
			</div>
		</fieldset>
		
		<fieldset>
			<legend>###LABEL_search_options_standard_others###</legend>
			<div>
				<input class="checkbox" type="checkbox" name="mksearch[options][others][fuzzy]" id="mksearch[options][others][fuzzy]" disabled="disabled" />
				<label for="mksearch[options][others][fuzzy]">###LABEL_search_options_standard_others_fuzzy_lucene###</label> 
			</div>
			
			<div>
				<label for="mksearch[options][others][contenttypes]">###LABEL_search_options_standard_others_contenttypes###</label> 
				<select name="mksearch[options][others][contenttypes]" id="mksearch[options][others][contenttypes]" size="5" disabled="disabled">
					<option>core.tt_content</option>
					<option>core.tt_news</option>
					<option>mkcontact.company</option>
					<option>mkcontact.person</option>
				</select>
			</div>
		</fieldset>
	</fieldset>
	
	<fieldset>
		<legend>###LABEL_search_options_advanced###</legend>
		<div>
			<input class="radio" type="radio" name="mksearch[options][mode]" id="mksearch[options][mode][advanced]" value="advanced" />
			<label for="mksearch[options][mode][advanced]">###LABEL_search_options_advanced_label###</label>
		</div>
	</fieldset>
</fieldset>
<fieldset>
	<input class="submit" type="submit" name="mksearch[submit]" value="###LABEL_search_submit###" />
</fieldset>
</form>

###FORM_DCSEARCHTERMHEADING###
<!-- ###OLDFORM### END -->


</body>
</html>